.card {
    background-color: antiquewhite;
    border: 2px solid firebrick;
    border-radius: 10px;
    width: 60px;
    height: 100px;
    margin-bottom: -50px;
}

.red {
    color: red;
}

.black {
    color: black;
}